In [1]:
#import the data
import numpy as np
import pandas as pd

df = pd.read_csv('data/movies_metadata.csv')

df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415,NaN,NaN,NaN,NaN
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,NaN,NaN,NaN,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92,NaN,NaN,NaN,NaN
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34,NaN,NaN,NaN,NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173,NaN,NaN,NaN,NaN

# Data Importing and formatting

In [2]:
modified_data = df[['title', 'tagline', 'original_title', 'overview', 'genres']]
modified_data

,title,tagline,original_title,overview,genres
0,Toy Story,NaN,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,Jumanji,Roll the dice and unleash the excitement!,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,Waiting to Exhale,Friends are the people who let you be yourself...,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]"
...,...,...,...,...,...
45457,Subdue,Rising and falling between a man and woman,رگ خواب,Rising and falling between a man and woman.,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n..."
45458,Century of Birthing,NaN,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,"[{'id': 18, 'name': 'Drama'}]"
45459,Betrayal,A deadly game of wits.,Betrayal,"When one of her hits goes wrong, a professiona...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam..."
45460,Satan Triumphant,NaN,Satana likuyushchiy,"In a small town live two brothers, one a minis...",[]
45461,Queerama,NaN,Queerama,50 years after decriminalisation of homosexual...,[]

In [3]:
#title as index
modified_data.set_index('title', inplace=True)
modified_data

,tagline,original_title,overview,genres
title,,,,
Toy Story,NaN,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
Jumanji,Roll the dice and unleash the excitement!,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
Waiting to Exhale,Friends are the people who let you be yourself...,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]"
...,...,...,...,...
Subdue,Rising and falling between a man and woman,رگ خواب,Rising and falling between a man and woman.,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n..."
Century of Birthing,NaN,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,"[{'id': 18, 'name': 'Drama'}]"
Betrayal,A deadly game of wits.,Betrayal,"When one of her hits goes wrong, a professiona...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam..."
Satan Triumphant,NaN,Satana likuyushchiy,"In a small town live two brothers, one a minis...",[]
Queerama,NaN,Queerama,50 years after decriminalisation of homosexual...,[]

In [4]:
#drop all entries that have no overview 
#as we will use them to predict genre
modified_data.dropna(subset = ['overview'], inplace=True)
modified_data

<ipython-input-4-0608d8df8143>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modified_data.dropna(subset = ['overview'], inplace=True)

,tagline,original_title,overview,genres
title,,,,
Toy Story,NaN,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
Jumanji,Roll the dice and unleash the excitement!,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
Waiting to Exhale,Friends are the people who let you be yourself...,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]"
...,...,...,...,...
Subdue,Rising and falling between a man and woman,رگ خواب,Rising and falling between a man and woman.,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n..."
Century of Birthing,NaN,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,"[{'id': 18, 'name': 'Drama'}]"
Betrayal,A deadly game of wits.,Betrayal,"When one of her hits goes wrong, a professiona...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam..."
Satan Triumphant,NaN,Satana likuyushchiy,"In a small town live two brothers, one a minis...",[]
Queerama,NaN,Queerama,50 years after decriminalisation of homosexual...,[]

In [5]:
df['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45457    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45458                        [{'id': 18, 'name': 'Drama'}]
45459    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45460                                                   []
45461                                                   []
Name: genres, Length: 45462, dtype: object

In [6]:
df[['title','overview','genres',]]

,title,overview,genres
0,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...","[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,Father of the Bride Part II,Just when George Banks has recovered from his ...,"[{'id': 35, 'name': 'Comedy'}]"
...,...,...,...
45457,Subdue,Rising and falling between a man and woman.,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n..."
45458,Century of Birthing,An artist struggles to finish his work while a...,"[{'id': 18, 'name': 'Drama'}]"
45459,Betrayal,"When one of her hits goes wrong, a professiona...","[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam..."
45460,Satan Triumphant,"In a small town live two brothers, one a minis...",[]
45461,Queerama,50 years after decriminalisation of homosexual...,[]

In [7]:
df.set_index('title', inplace=True)

In [8]:
#removing entries without overviews
df.dropna(subset = ['overview'], inplace = True)

# Breaking down the genres data

In [9]:
from ast import literal_eval

#converst genres into a list
df['genres'] = df['genres'].apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

#remove entries that have no genres listed
filtered_dataframe = df[df['genres'].map(lambda d: len(d)) > 0]

In [10]:
filtered_dataframe

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,video,vote_average,vote_count,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
title,,,,,,,,,,,,,,,,,,,,,
Toy Story,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,False,7.7,5415,NaN,NaN,NaN,NaN
Jumanji,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,False,6.9,2413,NaN,NaN,NaN,NaN
Grumpier Old Men,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,False,6.5,92,NaN,NaN,NaN,NaN
Waiting to Exhale,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,False,6.1,34,NaN,NaN,NaN,NaN
Father of the Bride Part II,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,False,5.7,173,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Caged Heat 3000,False,NaN,0,[Science Fiction],NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,False,3.5,1,NaN,NaN,NaN,NaN
Robin Hood,False,NaN,0,"[Drama, Action, Romance]",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,False,5.7,26,NaN,NaN,NaN,NaN
Subdue,False,NaN,0,"[Drama, Family]",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,False,4,1,NaN,NaN,NaN,NaN
Century of Birthing,False,NaN,0,[Drama],NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,False,9,3,NaN,NaN,NaN,NaN
Betrayal,False,NaN,0,"[Action, Drama, Thriller]",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,False,3.8,6,NaN,NaN,NaN,NaN

### Data for further models

filtered_dataframe  
  
contains the data from the dataset that has beeen filterd to remove empty cells and formatted data to appropriate lists

# Seperating Genres

In [17]:
filtered_dataframe[['genres']]

                                                   genres
title
Toy Story                     [Animation, Comedy, Family]
Jumanji                      [Adventure, Fantasy, Family]
Grumpier Old Men                        [Romance, Comedy]
Waiting to Exhale                [Comedy, Drama, Romance]
Father of the Bride Part II                      [Comedy]
...                                                   ...
Caged Heat 3000                         [Science Fiction]
Robin Hood                       [Drama, Action, Romance]
Subdue                                    [Drama, Family]
Century of Birthing                               [Drama]
Betrayal                        [Action, Drama, Thriller]

[42323 rows x 1 columns]

In [20]:
#convert the list of genres to a multilable element
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

labels = mlb.fit_transform(filtered_dataframe['genres'])
label_classes = mlb.classes_

In [21]:
label_classes

array(['Action', 'Adventure', 'Animation', 'Comedy', 'Crime',
       'Documentary', 'Drama', 'Family', 'Fantasy', 'Foreign', 'History',
       'Horror', 'Music', 'Mystery', 'Romance', 'Science Fiction',
       'TV Movie', 'Thriller', 'War', 'Western'], dtype=object)

In [22]:
# Performs what is essentially one hot encoding to the genres to create an array of 0,1 to denote genres it belongs to
#place in a dataframe for readability
label_data = pd.DataFrame(labels, columns=label_classes)

In [24]:
label_data

,Action,Adventure,Animation,Comedy,Crime,Documentary,Drama,Family,Fantasy,Foreign,History,Horror,Music,Mystery,Romance,Science Fiction,TV Movie,Thriller,War,Western
0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42318,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
42319,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
42320,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
42321,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
42322,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0

## Seperating Features

In [40]:
features = filtered_dataframe['overview']

In [41]:
features

title
Toy Story                      Led by Woody, Andy's toys live happily in his ...
Jumanji                        When siblings Judy and Peter discover an encha...
Grumpier Old Men               A family wedding reignites the ancient feud be...
Waiting to Exhale              Cheated on, mistreated and stepped on, the wom...
Father of the Bride Part II    Just when George Banks has recovered from his ...
                                                     ...
Caged Heat 3000                It's the year 3000 AD. The world's most danger...
Robin Hood                     Yet another version of the classic epic, with ...
Subdue                               Rising and falling between a man and woman.
Century of Birthing            An artist struggles to finish his work while a...
Betrayal                       When one of her hits goes wrong, a professiona...
Name: overview, Length: 42323, dtype: object

# Creating testing and training data sets

In [42]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, labels, test_size=0.2, random_state=2)

In [43]:
X_train.shape, y_train.shape

((33858,), (33858, 20))

In [44]:
# breaking down overview for natural language processing

#vectorizing the feature

from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer(max_features = 1000, stop_words = 'english', lowercase = True)

X_train_vec = vectorizer.fit_transform(X_train)
X_test_vec = vectorizer.transform(X_test)

In [45]:
X_train_vec

<33858x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 430325 stored elements in Compressed Sparse Row format>

# Using Machine Lerning models on Data

#### For models using training and testing data
X_train_vec, X_test_vec, y_train, y_test  

#### For models using the whole dataset
features, labels

## Using a decision Tree

In [48]:
from sklearn.tree import DecisionTreeClassifier

tree_classifier = DecisionTreeClassifier()

tree_classifier.fit(X_train_vec, y_train)
prediction = tree_classifier.predict(X_test_vec)

prediction

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [49]:
from sklearn.metrics import accuracy_score

tree_acc_score = accuracy_score(y_test, prediction)
print(f"Accuracy: {tree_acc_score}")

Accuracy: 0.10242173656231542