In [86]:
from ast import literal_eval

import numpy as np
import pandas as pd
from junk_data_discard import readFile

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [87]:
credits_df = pd.read_csv('data/credits.csv')
# movies_df = pd.read_csv('data/movies_metadata.csv')
movies_df = readFile('data/movies_metadata.csv')

In [88]:
credits_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [89]:
# movies_df.head()
movies_df.shape

(45463, 24)

In [90]:


# print(movies_df['id'])
movies_df['id'] = pd.to_numeric(movies_df['id'])
df = movies_df.merge(credits_df, on='id')
df

# print(type(credits_df['id'][0]))
# print(type(movies_df['id'][0]))

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Toy Story,False,7.7,5415,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45533,False,,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de..."
45534,False,,0,"[{'id': 18, 'name': 'Drama'}]",,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,,Century of Birthing,False,9.0,3,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
45535,False,,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
45536,False,,0,[],,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,87.0,[],Released,,Satan Triumphant,False,0.0,0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
45537,False,,0,[],,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,Queerama,False,0.0,0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [91]:
df.set_index('title', inplace=True)
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,video,vote_average,vote_count,cast,crew
title,,,,,,,,,,,,,,,,,,,,,
Toy Story,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,False,7.7,5415,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
Jumanji,False,,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,False,6.9,2413,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
Grumpier Old Men,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,False,6.5,92,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
Waiting to Exhale,False,,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,False,6.1,34,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
Father of the Bride Part II,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,False,5.7,173,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Subdue,False,,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,False,4.0,1,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de..."
Century of Birthing,False,,0,"[{'id': 18, 'name': 'Drama'}]",,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,,False,9.0,3,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
Betrayal,False,,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,False,3.8,6,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
Satan Triumphant,False,,0,[],,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,0,87.0,[],Released,,False,0.0,0,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
Queerama,False,,0,[],,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,,False,0.0,0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [92]:
df_reduced = df[['budget', 'genres', 'cast', 'crew', 'revenue', 'production_companies']]
df_reduced

,budget,genres,cast,crew,revenue,production_companies
title,,,,,,
Toy Story,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",373554033,"[{'name': 'Pixar Animation Studios', 'id': 3}]"
Jumanji,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",262797249,"[{'name': 'TriStar Pictures', 'id': 559}, {'na..."
Grumpier Old Men,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",0,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'..."
Waiting to Exhale,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",81452156,[{'name': 'Twentieth Century Fox Film Corporat...
Father of the Bride Part II,0,"[{'id': 35, 'name': 'Comedy'}]","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",76578911,"[{'name': 'Sandollar Productions', 'id': 5842}..."
...,...,...,...,...,...,...
Subdue,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",0,[]
Century of Birthing,0,"[{'id': 18, 'name': 'Drama'}]","[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",0,"[{'name': 'Sine Olivia', 'id': 19653}]"
Betrayal,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",0,"[{'name': 'American World Pictures', 'id': 6165}]"
Satan Triumphant,0,[],"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",0,"[{'name': 'Yermoliev', 'id': 88753}]"
Queerama,0,[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",0,[]

# Getting the director Data

In [93]:
df_reduced['crew'] = df_reduced['crew'].apply(literal_eval)
df_reduced['crew']

<ipython-input-93-266119a78c67>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['crew'] = df_reduced['crew'].apply(literal_eval)

title
Toy Story                      [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
Jumanji                        [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
Grumpier Old Men               [{'credit_id': '52fe466a9251416c75077a89', 'de...
Waiting to Exhale              [{'credit_id': '52fe44779251416c91011acb', 'de...
Father of the Bride Part II    [{'credit_id': '52fe44959251416c75039ed7', 'de...
                                                     ...
Subdue                         [{'credit_id': '5894a97d925141426c00818c', 'de...
Century of Birthing            [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...
Betrayal                       [{'credit_id': '52fe4776c3a368484e0c8387', 'de...
Satan Triumphant               [{'credit_id': '533bccebc3a36844cf0011a7', 'de...
Queerama                       [{'credit_id': '593e676c92514105b702e68e', 'de...
Name: crew, Length: 45538, dtype: object

In [94]:
# df_reduced['crew'][0][0]['name']
type(df_reduced['crew'][0])

list

In [95]:
#data[0][0]['name']
# data
df_reduced['crew'] = df_reduced['crew'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
df_reduced['crew']

<ipython-input-95-b2d57a8b1caf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['crew'] = df_reduced['crew'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

title
Toy Story                      [John Lasseter, Joss Whedon, Andrew Stanton, J...
Jumanji                        [Larry J. Franco, Jonathan Hensleigh, James Ho...
Grumpier Old Men               [Howard Deutch, Mark Steven Johnson, Mark Stev...
Waiting to Exhale              [Forest Whitaker, Ronald Bass, Ronald Bass, Ez...
Father of the Bride Part II    [Alan Silvestri, Elliot Davis, Nancy Meyers, N...
                                                     ...
Subdue                         [Hamid Nematollah, Hamid Nematollah, Farshad M...
Century of Birthing            [Lav Diaz, Lav Diaz, Dante Perez, Lav Diaz, La...
Betrayal                       [Mark L. Lester, C. Courtney Joyner, Jeffrey G...
Satan Triumphant                         [Yakov Protazanov, Joseph N. Ermolieff]
Queerama                                                         [Daisy Asquith]
Name: crew, Length: 45538, dtype: object

In [96]:
#remove entries that have not crew data
df_reduced = df_reduced[df_reduced['crew'].map(lambda d: len(d)) > 0]

#get first entry of the crew list for director name
df_reduced['director'] = df_reduced['crew'].apply(lambda x: x[0])
df_reduced['director']

<ipython-input-96-9f9ae7b4de3a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['director'] = df_reduced['crew'].apply(lambda x: x[0])

title
Toy Story                         John Lasseter
Jumanji                         Larry J. Franco
Grumpier Old Men                  Howard Deutch
Waiting to Exhale               Forest Whitaker
Father of the Bride Part II      Alan Silvestri
                                     ...
Subdue                         Hamid Nematollah
Century of Birthing                    Lav Diaz
Betrayal                         Mark L. Lester
Satan Triumphant               Yakov Protazanov
Queerama                          Daisy Asquith
Name: director, Length: 44767, dtype: object

In [97]:
df_reduced = df_reduced[['budget','genres','cast','revenue','production_companies','director']]

In [98]:
df_reduced

,budget,genres,cast,revenue,production_companies,director
title,,,,,,
Toy Story,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...",373554033,"[{'name': 'Pixar Animation Studios', 'id': 3}]",John Lasseter
Jumanji,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'cast_id': 1, 'character': 'Alan Parrish', '...",262797249,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",Larry J. Franco
Grumpier Old Men,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...",0,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",Howard Deutch
Waiting to Exhale,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...",81452156,[{'name': 'Twentieth Century Fox Film Corporat...,Forest Whitaker
Father of the Bride Part II,0,"[{'id': 35, 'name': 'Comedy'}]","[{'cast_id': 1, 'character': 'George Banks', '...",76578911,"[{'name': 'Sandollar Productions', 'id': 5842}...",Alan Silvestri
...,...,...,...,...,...,...
Subdue,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[{'cast_id': 0, 'character': '', 'credit_id': ...",0,[],Hamid Nematollah
Century of Birthing,0,"[{'id': 18, 'name': 'Drama'}]","[{'cast_id': 1002, 'character': 'Sister Angela...",0,"[{'name': 'Sine Olivia', 'id': 19653}]",Lav Diaz
Betrayal,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...",0,"[{'name': 'American World Pictures', 'id': 6165}]",Mark L. Lester
Satan Triumphant,0,[],"[{'cast_id': 2, 'character': '', 'credit_id': ...",0,"[{'name': 'Yermoliev', 'id': 88753}]",Yakov Protazanov
Queerama,0,[],[],0,[],Daisy Asquith

# Cast Data

In [99]:
df_reduced['cast'] = df_reduced['cast'].apply(literal_eval)

In [100]:
df_reduced['cast'][0]

[{'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'},
 {'cast_id': 16,
  'character': 'Mr. Potato Head (voice)',
  'credit_id': '52fe4284c3a36847f8024f9d',
  'gender': 2,
  'id': 7167,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 {'cast_id': 17,
  'character': 'Slinky Dog (voice)',
  'credit_id': '52fe4284c3a36847f8024fa1',
  'gender': 2,
  'id': 12899,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 {'cast_id': 18,
  'character': 'Rex (voice)',
  'credit_id': '52fe4284c3a36847f8024fa5',
  'gender': 2,
  'id': 12900,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 {'cast_id': 19,
  'character': 'Hamm (voice)',
  'credit_id': '52fe4284c3a36847f8024fa9',
  'gender': 2,
  'id': 7907,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 {'cast_id': 20,
  'character': 'Bo Peep (voice)',
  'credit_id': '52fe4284c3a36847f8024fad',
  'gender': 1,
  'id': 8873,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 {'cast_id': 26,
  'character': 'Andy (voice)',
  'credit_id': '52fe4284c3a36847f8024fc1',
  'gender': 0,
  'id': 1116442,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'},
 {'cast_id': 22,
  'character': 'Sid (voice)',
  'credit_id': '52fe4284c3a36847f8024fb1',
  'gender': 2,
  'id': 12901,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 {'cast_id': 23,
  'character': 'Mrs. Davis (voice)',
  'credit_id': '52fe4284c3a36847f8024fb5',
  'gender': 1,
  'id': 12133,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'},
 {'cast_id': 24,
  'character': 'Sergeant (voice)',
  'credit_id': '52fe4284c3a36847f8024fb9',
  'gender': 2,
  'id': 8655,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 {'cast_id': 25,
  'character': 'Hannah (voice)',
  'credit_id': '52fe4284c3a36847f8024fbd',
  'gender': 1,
  'id': 12903,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': None},
 {'cast_id': 27,
  'character': 'TV Announcer (voice)',
  'credit_id': '52fe4284c3a36847f8024fc5',
  'gender': 2,
  'id': 37221,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [101]:
df_reduced['cast'] = df_reduced['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
df_reduced['cast']

title
Toy Story                      [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...
Jumanji                        [Robin Williams, Jonathan Hyde, Kirsten Dunst,...
Grumpier Old Men               [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...
Waiting to Exhale              [Whitney Houston, Angela Bassett, Loretta Devi...
Father of the Bride Part II    [Steve Martin, Diane Keaton, Martin Short, Kim...
                                                     ...
Subdue                               [Leila Hatami, Kourosh Tahami, Elham Korda]
Century of Birthing            [Angel Aquino, Perry Dizon, Hazel Orencio, Joe...
Betrayal                       [Erika Eleniak, Adam Baldwin, Julie du Page, J...
Satan Triumphant               [Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...
Queerama                                                                      []
Name: cast, Length: 44767, dtype: object

In [102]:
#remove entries that have not crew data
df_reduced = df_reduced[df_reduced['cast'].map(lambda d: len(d)) > 0]

df_reduced

,budget,genres,cast,revenue,production_companies,director
title,,,,,,
Toy Story,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",373554033,"[{'name': 'Pixar Animation Studios', 'id': 3}]",John Lasseter
Jumanji,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",262797249,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",Larry J. Franco
Grumpier Old Men,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",0,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",Howard Deutch
Waiting to Exhale,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[Whitney Houston, Angela Bassett, Loretta Devi...",81452156,[{'name': 'Twentieth Century Fox Film Corporat...,Forest Whitaker
Father of the Bride Part II,0,"[{'id': 35, 'name': 'Comedy'}]","[Steve Martin, Diane Keaton, Martin Short, Kim...",76578911,"[{'name': 'Sandollar Productions', 'id': 5842}...",Alan Silvestri
...,...,...,...,...,...,...
Robin Hood,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","[Patrick Bergin, Uma Thurman, David Morrissey,...",0,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",John Irvin
Subdue,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[Leila Hatami, Kourosh Tahami, Elham Korda]",0,[],Hamid Nematollah
Century of Birthing,0,"[{'id': 18, 'name': 'Drama'}]","[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",0,"[{'name': 'Sine Olivia', 'id': 19653}]",Lav Diaz
Betrayal,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[Erika Eleniak, Adam Baldwin, Julie du Page, J...",0,"[{'name': 'American World Pictures', 'id': 6165}]",Mark L. Lester
Satan Triumphant,0,[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",0,"[{'name': 'Yermoliev', 'id': 88753}]",Yakov Protazanov

# production companies

In [103]:
#make function to ignore .jpg errors
def foo(x):
    if x and x.contains(".jpg"):
        print(x)
        
# df_reduced['production_companies'].apply(foo)
# df_reduced['production_companies'] = df_reduced['production_companies'].apply(foo)
# df_reduced

#pokemon_games = df.loc[df['Name'].str.contains("pokemon", case=False)]

#drop na values
# df_reduced.dropna()

In [104]:
#removed bad production company Data
valid = df_reduced[df_reduced['production_companies'].str.contains(".jpg", case=False, na=True)]

valid

,budget,genres,cast,revenue,production_companies,director
title,,,,,,
Saint Amour,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[Benoît Poelvoorde, Gérard Depardieu, Vincent ...",0,"[{'name': 'Nexus Factory', 'id': 7561}, {'name...",Benoît Delépine

In [105]:
#removed bad production company Data
df_reduced.drop(valid.index, axis=0,inplace=True)

df_reduced

/home/ricardo/.local/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,budget,genres,cast,revenue,production_companies,director
title,,,,,,
Toy Story,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",373554033,"[{'name': 'Pixar Animation Studios', 'id': 3}]",John Lasseter
Jumanji,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",262797249,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",Larry J. Franco
Grumpier Old Men,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",0,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",Howard Deutch
Waiting to Exhale,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[Whitney Houston, Angela Bassett, Loretta Devi...",81452156,[{'name': 'Twentieth Century Fox Film Corporat...,Forest Whitaker
Father of the Bride Part II,0,"[{'id': 35, 'name': 'Comedy'}]","[Steve Martin, Diane Keaton, Martin Short, Kim...",76578911,"[{'name': 'Sandollar Productions', 'id': 5842}...",Alan Silvestri
...,...,...,...,...,...,...
Robin Hood,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","[Patrick Bergin, Uma Thurman, David Morrissey,...",0,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",John Irvin
Subdue,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[Leila Hatami, Kourosh Tahami, Elham Korda]",0,[],Hamid Nematollah
Century of Birthing,0,"[{'id': 18, 'name': 'Drama'}]","[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",0,"[{'name': 'Sine Olivia', 'id': 19653}]",Lav Diaz
Betrayal,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[Erika Eleniak, Adam Baldwin, Julie du Page, J...",0,"[{'name': 'American World Pictures', 'id': 6165}]",Mark L. Lester
Satan Triumphant,0,[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",0,"[{'name': 'Yermoliev', 'id': 88753}]",Yakov Protazanov

In [106]:
#parse the production company data into a list of objects
df_reduced['production_companies'] = df_reduced['production_companies'].apply(literal_eval)
df_reduced['production_companies'] = df_reduced['production_companies'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

<ipython-input-106-aac31f1318f9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['production_companies'] = df_reduced['production_companies'].apply(literal_eval)
<ipython-input-106-aac31f1318f9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['production_companies'] = df_reduced['production_companies'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [107]:
#remove entries that have not crew data
df_reduced = df_reduced[df_reduced['production_companies'].map(lambda d: len(d)) > 0]

In [108]:
df_reduced['production_companies']

title
Toy Story                                              [Pixar Animation Studios]
Jumanji                        [TriStar Pictures, Teitler Film, Interscope Co...
Grumpier Old Men                                  [Warner Bros., Lancaster Gate]
Waiting to Exhale                       [Twentieth Century Fox Film Corporation]
Father of the Bride Part II         [Sandollar Productions, Touchstone Pictures]
                                                     ...
Caged Heat 3000                                          [Concorde-New Horizons]
Robin Hood                     [Westdeutscher Rundfunk (WDR), Working Title F...
Century of Birthing                                                [Sine Olivia]
Betrayal                                               [American World Pictures]
Satan Triumphant                                                     [Yermoliev]
Name: production_companies, Length: 33042, dtype: object

#### Remove entries with budget or revenue = 0

In [109]:
#cast budget and revenue as integers
df_reduced['budget'] = df_reduced['budget'].apply(int)
df_reduced['revenue'] = df_reduced['revenue'].apply(int)

#filter out all titles with buget and revenue == 0
df_reduced = df_reduced[df_reduced['budget'] > 0]
df_reduced = df_reduced[df_reduced['revenue'] > 0]

df_reduced

<ipython-input-109-0753cf1c5479>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['budget'] = df_reduced['budget'].apply(int)
<ipython-input-109-0753cf1c5479>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['revenue'] = df_reduced['revenue'].apply(int)

,budget,genres,cast,revenue,production_companies,director
title,,,,,,
Toy Story,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",373554033,[Pixar Animation Studios],John Lasseter
Jumanji,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",262797249,"[TriStar Pictures, Teitler Film, Interscope Co...",Larry J. Franco
Waiting to Exhale,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[Whitney Houston, Angela Bassett, Loretta Devi...",81452156,[Twentieth Century Fox Film Corporation],Forest Whitaker
Heat,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[Al Pacino, Robert De Niro, Val Kilmer, Jon Vo...",187436818,"[Regency Enterprises, Forward Pass, Warner Bros.]",Michael Mann
Sudden Death,35000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...","[Jean-Claude Van Damme, Powers Boothe, Dorian ...",64350171,"[Universal Pictures, Imperial Entertainment, S...",Peter Hyams
...,...,...,...,...,...,...
The Emoji Movie,50000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...","[T.J. Miller, James Corden, Anna Faris, Maya R...",66913939,"[Columbia Pictures, Sony Pictures Animation]",Ben Waisbren
Wind River,11000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...","[Jeremy Renner, Elizabeth Olsen, Gil Birmingha...",184770205,"[Thunder Road Pictures, Star Thrower Entertain...",Elizabeth A. Bell
Sivaji: The Boss,12000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...","[Rajinikanth, Suman, Shriya Saran, Vivek, Ragh...",19000000,[AVM Productions],A. R. Rahman
All at Once,750000,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...","[Andrey Muravyov, Yuliya Khlynina, Anton Shurt...",3,"[Кинокомпания «Lunapark», Инвада фильм]",Roman Karimov
Pro Lyuboff,2000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...","[Fyodor Bondarchuk, Oksana Fandera, Juozas Bud...",1268793,[Profit],Olga Subbotina

### parsing genre data

In [110]:
df_reduced['genres'] = df_reduced['genres'].apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
df_reduced

,budget,genres,cast,revenue,production_companies,director
title,,,,,,
Toy Story,30000000,"[Animation, Comedy, Family]","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",373554033,[Pixar Animation Studios],John Lasseter
Jumanji,65000000,"[Adventure, Fantasy, Family]","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",262797249,"[TriStar Pictures, Teitler Film, Interscope Co...",Larry J. Franco
Waiting to Exhale,16000000,"[Comedy, Drama, Romance]","[Whitney Houston, Angela Bassett, Loretta Devi...",81452156,[Twentieth Century Fox Film Corporation],Forest Whitaker
Heat,60000000,"[Action, Crime, Drama, Thriller]","[Al Pacino, Robert De Niro, Val Kilmer, Jon Vo...",187436818,"[Regency Enterprises, Forward Pass, Warner Bros.]",Michael Mann
Sudden Death,35000000,"[Action, Adventure, Thriller]","[Jean-Claude Van Damme, Powers Boothe, Dorian ...",64350171,"[Universal Pictures, Imperial Entertainment, S...",Peter Hyams
...,...,...,...,...,...,...
The Emoji Movie,50000000,"[Comedy, Family, Animation]","[T.J. Miller, James Corden, Anna Faris, Maya R...",66913939,"[Columbia Pictures, Sony Pictures Animation]",Ben Waisbren
Wind River,11000000,"[Action, Crime, Mystery, Thriller]","[Jeremy Renner, Elizabeth Olsen, Gil Birmingha...",184770205,"[Thunder Road Pictures, Star Thrower Entertain...",Elizabeth A. Bell
Sivaji: The Boss,12000000,"[Action, Comedy, Drama]","[Rajinikanth, Suman, Shriya Saran, Vivek, Ragh...",19000000,[AVM Productions],A. R. Rahman
All at Once,750000,"[Crime, Comedy]","[Andrey Muravyov, Yuliya Khlynina, Anton Shurt...",3,"[Кинокомпания «Lunapark», Инвада фильм]",Roman Karimov
Pro Lyuboff,2000000,"[Romance, Drama]","[Fyodor Bondarchuk, Oksana Fandera, Juozas Bud...",1268793,[Profit],Olga Subbotina

### reducing toal number of actors, production companies, and directors to evaluate

In [111]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

def counter(column):
    labels = mlb.fit_transform(column)
    label_classes = mlb.classes_
    
    label_data = pd.DataFrame(labels, columns=label_classes)
    
    val = {}
    for x in label_classes:
        val.update({x:label_data[x].value_counts()[1]})
        
    sorted_val = sorted(val.items(), key=lambda kv: kv[1], reverse=True)
    val_pd = pd.DataFrame.from_dict(sorted_val, orient='columns')
    val_pd.rename(columns={0: "Value", 1: "count"}, inplace=True)
    return val_pd

In [112]:
counter(df_reduced['genres'])

              Value  count
0             Drama   2495
1            Comedy   1779
2          Thriller   1477
3            Action   1386
4           Romance    977
5         Adventure    952
6             Crime    850
7   Science Fiction    627
8            Horror    576
9            Family    522
10          Fantasy    506
11          Mystery    441
12        Animation    291
13          History    229
14              War    205
15            Music    183
16          Western     89
17      Documentary     42
18          Foreign     23
19         TV Movie      1

In [113]:
#reduce the number of actors in movies to at least 5 apearances
actor_count = counter(df_reduced['cast'])

In [114]:
type(actor_count)
actor_count2 = actor_count[actor_count['count'] >= 5]
actor_count2

                      Value  count
0         Samuel L. Jackson     71
1            Robert De Niro     61
2              Bruce Willis     60
3            Morgan Freeman     55
4                Matt Damon     53
...                     ...    ...
4499       Zelda Rubinstein      5
4500              Zena Grey      5
4501       Zinedine Soualem      5
4502  Ólafur Darri Ólafsson      5
4503          Óscar Jaenada      5

[4504 rows x 2 columns]

### reduce the number of production companies to at least x movies

In [115]:
movie_count = counter(df_reduced['production_companies'])

In [116]:
movie_count2 = movie_count[movie_count['count'] >= 5]
movie_count2

                                      Value  count
0                              Warner Bros.    418
1                        Universal Pictures    386
2                        Paramount Pictures    344
3    Twentieth Century Fox Film Corporation    296
4                         Columbia Pictures    210
..                                      ...    ...
530      Wild West Picture Show Productions      5
531                World 2000 Entertainment      5
532                        Yleisradio (YLE)      5
533                     Zanuck Company, The      5
534       Zweites Deutsches Fernsehen (ZDF)      5

[535 rows x 2 columns]

# Linear Regression Model

In [117]:
df_reduced

,budget,genres,cast,revenue,production_companies,director
title,,,,,,
Toy Story,30000000,"[Animation, Comedy, Family]","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",373554033,[Pixar Animation Studios],John Lasseter
Jumanji,65000000,"[Adventure, Fantasy, Family]","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",262797249,"[TriStar Pictures, Teitler Film, Interscope Co...",Larry J. Franco
Waiting to Exhale,16000000,"[Comedy, Drama, Romance]","[Whitney Houston, Angela Bassett, Loretta Devi...",81452156,[Twentieth Century Fox Film Corporation],Forest Whitaker
Heat,60000000,"[Action, Crime, Drama, Thriller]","[Al Pacino, Robert De Niro, Val Kilmer, Jon Vo...",187436818,"[Regency Enterprises, Forward Pass, Warner Bros.]",Michael Mann
Sudden Death,35000000,"[Action, Adventure, Thriller]","[Jean-Claude Van Damme, Powers Boothe, Dorian ...",64350171,"[Universal Pictures, Imperial Entertainment, S...",Peter Hyams
...,...,...,...,...,...,...
The Emoji Movie,50000000,"[Comedy, Family, Animation]","[T.J. Miller, James Corden, Anna Faris, Maya R...",66913939,"[Columbia Pictures, Sony Pictures Animation]",Ben Waisbren
Wind River,11000000,"[Action, Crime, Mystery, Thriller]","[Jeremy Renner, Elizabeth Olsen, Gil Birmingha...",184770205,"[Thunder Road Pictures, Star Thrower Entertain...",Elizabeth A. Bell
Sivaji: The Boss,12000000,"[Action, Comedy, Drama]","[Rajinikanth, Suman, Shriya Saran, Vivek, Ragh...",19000000,[AVM Productions],A. R. Rahman
All at Once,750000,"[Crime, Comedy]","[Andrey Muravyov, Yuliya Khlynina, Anton Shurt...",3,"[Кинокомпания «Lunapark», Инвада фильм]",Roman Karimov
Pro Lyuboff,2000000,"[Romance, Drama]","[Fyodor Bondarchuk, Oksana Fandera, Juozas Bud...",1268793,[Profit],Olga Subbotina

### Using budget and director to determine revenue

In [166]:
features = df_reduced[['budget','director']]
labels = df_reduced['revenue']
#using a label encoder on directors due to large amount of possible values
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()

features['director'] = labelencoder.fit_transform(features[['director']])
features

/home/ricardo/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
<ipython-input-166-9395f92cd5d9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['director'] = labelencoder.fit_transform(features[['director']])

                     budget  director
title
Toy Story          30000000      1234
Jumanji            65000000      1431
Waiting to Exhale  16000000       767
Heat               60000000      1671
Sudden Death       35000000      1903
...                     ...       ...
The Emoji Movie    50000000       223
Wind River         11000000       696
Sivaji: The Boss   12000000         1
All at Once          750000      2118
Pro Lyuboff         2000000      1809

[5208 rows x 2 columns]

In [167]:
#scaling the budget Data
from sklearn.preprocessing import scale

features['budget'] = scale(features['budget'])
features

<ipython-input-167-e6998068b81c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features['budget'] = scale(features['budget'])

                     budget  director
title
Toy Story         -0.050176      1234
Jumanji            0.814308      1431
Waiting to Exhale -0.395969       767
Heat               0.690810      1671
Sudden Death       0.073322      1903
...                     ...       ...
The Emoji Movie    0.443815       223
Wind River        -0.519467       696
Sivaji: The Boss  -0.494767         1
All at Once       -0.772637      2118
Pro Lyuboff       -0.741763      1809

[5208 rows x 2 columns]

In [168]:
#create training and testing data
from sklearn.model_selection import train_test_split


#find out what values to use for test_size and random_state
feature_train, feature_test, label_train, label_test = train_test_split(
    features, labels, test_size=0.25, random_state=6)

In [169]:
feature_train.shape

(3906, 2)

In [170]:
feature_test.shape

(1302, 2)

In [171]:
label_train.shape

(3906,)

In [172]:
label_test.shape

(1302,)

In [173]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

my_logreg = LogisticRegression()
#random state can be deleted
my_logreg.fit(feature_train, label_train)
y_predict_lr = my_logreg.predict(feature_test)
#accuracy score for Logistic Regression
score_lr = accuracy_score(label_test, y_predict_lr)


print("Accuracy for Logistic Regression:")
print(score_lr)

Accuracy for Logistic Regression:
0.002304147465437788

/home/ricardo/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

 ## Using one hot encoding directors and budget

In [176]:
features = df_reduced[['budget','director']]
labels = df_reduced['revenue']

In [177]:
features

                     budget           director
title
Toy Story          30000000      John Lasseter
Jumanji            65000000    Larry J. Franco
Waiting to Exhale  16000000    Forest Whitaker
Heat               60000000       Michael Mann
Sudden Death       35000000        Peter Hyams
...                     ...                ...
The Emoji Movie    50000000       Ben Waisbren
Wind River         11000000  Elizabeth A. Bell
Sivaji: The Boss   12000000       A. R. Rahman
All at Once          750000      Roman Karimov
Pro Lyuboff         2000000     Olga Subbotina

[5208 rows x 2 columns]

In [178]:
from sklearn.preprocessing import OneHotEncoder
# 1. INSTANTIATE
enc = OneHotEncoder()

# 2. FIT
enc.fit(features[['director']])

# 3. Transform
onehotlabels = enc.transform(features[['director']]).toarray()
onehotlabels

features_mod = features[['budget']].join(pd.DataFrame(onehotlabels))

In [179]:
features_mod = features_mod.fillna(0)

In [180]:
features_mod['budget'] = scale(features_mod['budget'])
features_mod

,budget,0,1,2,3,4,5,6,7,8,...,2599,2600,2601,2602,2603,2604,2605,2606,2607,2608
(500) Days of Summer,-0.605915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Cloverfield Lane,-0.420669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 Things I Hate About You,-0.395969,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10 to Midnight,-0.679520,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"10,000 BC",1.802289,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
eXistenZ,-0.420669,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xXx,0.937806,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xXx: Return of Xander Cage,1.308299,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
xXx: State of the Union,0.690810,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Æon Flux,0.740209,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [181]:
#find out what values to use for test_size and random_state
feature_train, feature_test, label_train, label_test = train_test_split(
    features_mod, labels, test_size=0.25, random_state=6)

In [182]:
feature_test.shape

(1302, 2610)

In [184]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

my_logreg = LogisticRegression()
#random state can be deleted
my_logreg.fit(feature_train, label_train)
y_predict_lr = my_logreg.predict(feature_test)
# accuracy score for Logistic Regression
score_lr = accuracy_score(label_test, y_predict_lr)


print("Accuracy for Logistic Regression:")
print(score_lr)

Accuracy for Logistic Regression:
0.0030721966205837174