In [82]:
from ast import literal_eval

import numpy as np
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [83]:
credits_df = pd.read_csv('data/credits.csv')
movies_df = pd.read_csv('data/movies_metadata.csv')

In [84]:
credits_df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [85]:
movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415,NaN,NaN,NaN,NaN
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413,NaN,NaN,NaN,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92,NaN,NaN,NaN,NaN
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34,NaN,NaN,NaN,NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173,NaN,NaN,NaN,NaN

In [86]:


# print(movies_df['id'])
movies_df['id'] = pd.to_numeric(movies_df['id'])
df = movies_df.merge(credits_df, on='id')
df.head()

# print(type(credits_df['id'][0]))
# print(type(movies_df['id'][0]))

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,title,video,vote_average,vote_count,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,cast,crew
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Toy Story,False,7.7,5415,NaN,NaN,NaN,NaN,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Jumanji,False,6.9,2413,NaN,NaN,NaN,NaN,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Grumpier Old Men,False,6.5,92,NaN,NaN,NaN,NaN,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Waiting to Exhale,False,6.1,34,NaN,NaN,NaN,NaN,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Father of the Bride Part II,False,5.7,173,NaN,NaN,NaN,NaN,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."

In [87]:
df.set_index('title', inplace=True)
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,video,vote_average,vote_count,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,cast,crew
title,,,,,,,,,,,,,,,,,,,,,
Toy Story,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,NaN,False,7.7,5415,NaN,NaN,NaN,NaN,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
Jumanji,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Roll the dice and unleash the excitement!,False,6.9,2413,NaN,NaN,NaN,NaN,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
Grumpier Old Men,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Still Yelling. Still Fighting. Still Ready for...,False,6.5,92,NaN,NaN,NaN,NaN,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."
Waiting to Exhale,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Friends are the people who let you be yourself...,False,6.1,34,NaN,NaN,NaN,NaN,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de..."
Father of the Bride Part II,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Just When His World Is Back To Normal... He's ...,False,5.7,173,NaN,NaN,NaN,NaN,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Subdue,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,Rising and falling between a man and woman,False,4,1,NaN,NaN,NaN,NaN,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de..."
Century of Birthing,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,NaN,False,9,3,NaN,NaN,NaN,NaN,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de..."
Betrayal,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,A deadly game of wits.,False,3.8,6,NaN,NaN,NaN,NaN,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de..."
Satan Triumphant,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,NaN,False,0,0,NaN,NaN,NaN,NaN,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de..."
Queerama,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,NaN,False,0,0,NaN,NaN,NaN,NaN,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [88]:
df_reduced = df[['budget', 'genres', 'cast', 'crew', 'revenue', 'production_companies']]
df_reduced

,budget,genres,cast,crew,revenue,production_companies
title,,,,,,
Toy Story,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",373554033,"[{'name': 'Pixar Animation Studios', 'id': 3}]"
Jumanji,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",262797249,"[{'name': 'TriStar Pictures', 'id': 559}, {'na..."
Grumpier Old Men,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",0,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'..."
Waiting to Exhale,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",81452156,[{'name': 'Twentieth Century Fox Film Corporat...
Father of the Bride Part II,0,"[{'id': 35, 'name': 'Comedy'}]","[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",76578911,"[{'name': 'Sandollar Productions', 'id': 5842}..."
...,...,...,...,...,...,...
Subdue,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",0,[]
Century of Birthing,0,"[{'id': 18, 'name': 'Drama'}]","[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",0,"[{'name': 'Sine Olivia', 'id': 19653}]"
Betrayal,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",0,"[{'name': 'American World Pictures', 'id': 6165}]"
Satan Triumphant,0,[],"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",0,"[{'name': 'Yermoliev', 'id': 88753}]"
Queerama,0,[],[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",0,[]

# Getting the director Data

In [89]:
df_reduced['crew'] = df_reduced['crew'].apply(literal_eval)
df_reduced['crew']

<ipython-input-89-266119a78c67>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['crew'] = df_reduced['crew'].apply(literal_eval)

title
Toy Story                      [{'credit_id': '52fe4284c3a36847f8024f49', 'de...
Jumanji                        [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...
Grumpier Old Men               [{'credit_id': '52fe466a9251416c75077a89', 'de...
Waiting to Exhale              [{'credit_id': '52fe44779251416c91011acb', 'de...
Father of the Bride Part II    [{'credit_id': '52fe44959251416c75039ed7', 'de...
                                                     ...
Subdue                         [{'credit_id': '5894a97d925141426c00818c', 'de...
Century of Birthing            [{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...
Betrayal                       [{'credit_id': '52fe4776c3a368484e0c8387', 'de...
Satan Triumphant               [{'credit_id': '533bccebc3a36844cf0011a7', 'de...
Queerama                       [{'credit_id': '593e676c92514105b702e68e', 'de...
Name: crew, Length: 45537, dtype: object

In [90]:
# df_reduced['crew'][0][0]['name']
type(df_reduced['crew'][0])

list

In [91]:
#data[0][0]['name']
# data
df_reduced['crew'] = df_reduced['crew'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
df_reduced['crew']

<ipython-input-91-b2d57a8b1caf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['crew'] = df_reduced['crew'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

title
Toy Story                      [John Lasseter, Joss Whedon, Andrew Stanton, J...
Jumanji                        [Larry J. Franco, Jonathan Hensleigh, James Ho...
Grumpier Old Men               [Howard Deutch, Mark Steven Johnson, Mark Stev...
Waiting to Exhale              [Forest Whitaker, Ronald Bass, Ronald Bass, Ez...
Father of the Bride Part II    [Alan Silvestri, Elliot Davis, Nancy Meyers, N...
                                                     ...
Subdue                         [Hamid Nematollah, Hamid Nematollah, Farshad M...
Century of Birthing            [Lav Diaz, Lav Diaz, Dante Perez, Lav Diaz, La...
Betrayal                       [Mark L. Lester, C. Courtney Joyner, Jeffrey G...
Satan Triumphant                         [Yakov Protazanov, Joseph N. Ermolieff]
Queerama                                                         [Daisy Asquith]
Name: crew, Length: 45537, dtype: object

In [92]:
#remove entries that have not crew data
df_reduced = df_reduced[df_reduced['crew'].map(lambda d: len(d)) > 0]

#get first entry of the crew list for director name
df_reduced['director'] = df_reduced['crew'].apply(lambda x: x[0])
df_reduced['director']

<ipython-input-92-9f9ae7b4de3a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['director'] = df_reduced['crew'].apply(lambda x: x[0])

title
Toy Story                         John Lasseter
Jumanji                         Larry J. Franco
Grumpier Old Men                  Howard Deutch
Waiting to Exhale               Forest Whitaker
Father of the Bride Part II      Alan Silvestri
                                     ...
Subdue                         Hamid Nematollah
Century of Birthing                    Lav Diaz
Betrayal                         Mark L. Lester
Satan Triumphant               Yakov Protazanov
Queerama                          Daisy Asquith
Name: director, Length: 44766, dtype: object

In [93]:
df_reduced = df_reduced[['budget','genres','cast','revenue','production_companies','director']]

In [94]:
df_reduced

,budget,genres,cast,revenue,production_companies,director
title,,,,,,
Toy Story,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'cast_id': 14, 'character': 'Woody (voice)',...",373554033,"[{'name': 'Pixar Animation Studios', 'id': 3}]",John Lasseter
Jumanji,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'cast_id': 1, 'character': 'Alan Parrish', '...",262797249,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",Larry J. Franco
Grumpier Old Men,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[{'cast_id': 2, 'character': 'Max Goldman', 'c...",0,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",Howard Deutch
Waiting to Exhale,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[{'cast_id': 1, 'character': ""Savannah 'Vannah...",81452156,[{'name': 'Twentieth Century Fox Film Corporat...,Forest Whitaker
Father of the Bride Part II,0,"[{'id': 35, 'name': 'Comedy'}]","[{'cast_id': 1, 'character': 'George Banks', '...",76578911,"[{'name': 'Sandollar Productions', 'id': 5842}...",Alan Silvestri
...,...,...,...,...,...,...
Subdue,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[{'cast_id': 0, 'character': '', 'credit_id': ...",0,[],Hamid Nematollah
Century of Birthing,0,"[{'id': 18, 'name': 'Drama'}]","[{'cast_id': 1002, 'character': 'Sister Angela...",0,"[{'name': 'Sine Olivia', 'id': 19653}]",Lav Diaz
Betrayal,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...",0,"[{'name': 'American World Pictures', 'id': 6165}]",Mark L. Lester
Satan Triumphant,0,[],"[{'cast_id': 2, 'character': '', 'credit_id': ...",0,"[{'name': 'Yermoliev', 'id': 88753}]",Yakov Protazanov
Queerama,0,[],[],0,[],Daisy Asquith

# Cast Data

In [95]:
df_reduced['cast'] = df_reduced['cast'].apply(literal_eval)

In [96]:
df_reduced['cast'][0]

[{'cast_id': 14,
  'character': 'Woody (voice)',
  'credit_id': '52fe4284c3a36847f8024f95',
  'gender': 2,
  'id': 31,
  'name': 'Tom Hanks',
  'order': 0,
  'profile_path': '/pQFoyx7rp09CJTAb932F2g8Nlho.jpg'},
 {'cast_id': 15,
  'character': 'Buzz Lightyear (voice)',
  'credit_id': '52fe4284c3a36847f8024f99',
  'gender': 2,
  'id': 12898,
  'name': 'Tim Allen',
  'order': 1,
  'profile_path': '/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg'},
 {'cast_id': 16,
  'character': 'Mr. Potato Head (voice)',
  'credit_id': '52fe4284c3a36847f8024f9d',
  'gender': 2,
  'id': 7167,
  'name': 'Don Rickles',
  'order': 2,
  'profile_path': '/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg'},
 {'cast_id': 17,
  'character': 'Slinky Dog (voice)',
  'credit_id': '52fe4284c3a36847f8024fa1',
  'gender': 2,
  'id': 12899,
  'name': 'Jim Varney',
  'order': 3,
  'profile_path': '/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg'},
 {'cast_id': 18,
  'character': 'Rex (voice)',
  'credit_id': '52fe4284c3a36847f8024fa5',
  'gender': 2,
  'id': 12900,
  'name': 'Wallace Shawn',
  'order': 4,
  'profile_path': '/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg'},
 {'cast_id': 19,
  'character': 'Hamm (voice)',
  'credit_id': '52fe4284c3a36847f8024fa9',
  'gender': 2,
  'id': 7907,
  'name': 'John Ratzenberger',
  'order': 5,
  'profile_path': '/yGechiKWL6TJDfVE2KPSJYqdMsY.jpg'},
 {'cast_id': 20,
  'character': 'Bo Peep (voice)',
  'credit_id': '52fe4284c3a36847f8024fad',
  'gender': 1,
  'id': 8873,
  'name': 'Annie Potts',
  'order': 6,
  'profile_path': '/eryXT84RL41jHSJcMy4kS3u9y6w.jpg'},
 {'cast_id': 26,
  'character': 'Andy (voice)',
  'credit_id': '52fe4284c3a36847f8024fc1',
  'gender': 0,
  'id': 1116442,
  'name': 'John Morris',
  'order': 7,
  'profile_path': '/vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg'},
 {'cast_id': 22,
  'character': 'Sid (voice)',
  'credit_id': '52fe4284c3a36847f8024fb1',
  'gender': 2,
  'id': 12901,
  'name': 'Erik von Detten',
  'order': 8,
  'profile_path': '/twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg'},
 {'cast_id': 23,
  'character': 'Mrs. Davis (voice)',
  'credit_id': '52fe4284c3a36847f8024fb5',
  'gender': 1,
  'id': 12133,
  'name': 'Laurie Metcalf',
  'order': 9,
  'profile_path': '/unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg'},
 {'cast_id': 24,
  'character': 'Sergeant (voice)',
  'credit_id': '52fe4284c3a36847f8024fb9',
  'gender': 2,
  'id': 8655,
  'name': 'R. Lee Ermey',
  'order': 10,
  'profile_path': '/r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg'},
 {'cast_id': 25,
  'character': 'Hannah (voice)',
  'credit_id': '52fe4284c3a36847f8024fbd',
  'gender': 1,
  'id': 12903,
  'name': 'Sarah Freeman',
  'order': 11,
  'profile_path': None},
 {'cast_id': 27,
  'character': 'TV Announcer (voice)',
  'credit_id': '52fe4284c3a36847f8024fc5',
  'gender': 2,
  'id': 37221,
  'name': 'Penn Jillette',
  'order': 12,
  'profile_path': '/zmAaXUdx12NRsssgHbk1T31j2x9.jpg'}]

In [97]:
df_reduced['cast'] = df_reduced['cast'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
df_reduced['cast']

title
Toy Story                      [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...
Jumanji                        [Robin Williams, Jonathan Hyde, Kirsten Dunst,...
Grumpier Old Men               [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...
Waiting to Exhale              [Whitney Houston, Angela Bassett, Loretta Devi...
Father of the Bride Part II    [Steve Martin, Diane Keaton, Martin Short, Kim...
                                                     ...
Subdue                               [Leila Hatami, Kourosh Tahami, Elham Korda]
Century of Birthing            [Angel Aquino, Perry Dizon, Hazel Orencio, Joe...
Betrayal                       [Erika Eleniak, Adam Baldwin, Julie du Page, J...
Satan Triumphant               [Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...
Queerama                                                                      []
Name: cast, Length: 44766, dtype: object

In [98]:
#remove entries that have not crew data
df_reduced = df_reduced[df_reduced['cast'].map(lambda d: len(d)) > 0]

df_reduced

,budget,genres,cast,revenue,production_companies,director
title,,,,,,
Toy Story,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",373554033,"[{'name': 'Pixar Animation Studios', 'id': 3}]",John Lasseter
Jumanji,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",262797249,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...",Larry J. Franco
Grumpier Old Men,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",0,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",Howard Deutch
Waiting to Exhale,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...","[Whitney Houston, Angela Bassett, Loretta Devi...",81452156,[{'name': 'Twentieth Century Fox Film Corporat...,Forest Whitaker
Father of the Bride Part II,0,"[{'id': 35, 'name': 'Comedy'}]","[Steve Martin, Diane Keaton, Martin Short, Kim...",76578911,"[{'name': 'Sandollar Productions', 'id': 5842}...",Alan Silvestri
...,...,...,...,...,...,...
Robin Hood,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...","[Patrick Bergin, Uma Thurman, David Morrissey,...",0,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",John Irvin
Subdue,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...","[Leila Hatami, Kourosh Tahami, Elham Korda]",0,[],Hamid Nematollah
Century of Birthing,0,"[{'id': 18, 'name': 'Drama'}]","[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...",0,"[{'name': 'Sine Olivia', 'id': 19653}]",Lav Diaz
Betrayal,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...","[Erika Eleniak, Adam Baldwin, Julie du Page, J...",0,"[{'name': 'American World Pictures', 'id': 6165}]",Mark L. Lester
Satan Triumphant,0,[],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...",0,"[{'name': 'Yermoliev', 'id': 88753}]",Yakov Protazanov

# production companies

In [100]:
df_reduced['production_companies'] = df_reduced['production_companies'].apply(literal_eval)

SyntaxError: invalid syntax (<unknown>, line 1)

In [ ]:
df_reduced['production_companies'] = df_reduced['production_companies'].apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

In [ ]:
#remove entries that have not crew data
df_reduced = df_reduced[df_reduced['production_companies'].map(lambda d: len(d)) > 0]

In [ ]:
df_reduced['production_companies']